body
{ font: normal 80% Arial, Helvetica, sans-serif;
  color: #000;
  background: #1D1D1D;
}

p
{ padding: 0 0 10px 0;
  line-height: 1.7em;
  font-size: 100% }

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

#main
{ background: transparent;}
  
#header
{ height: 80px;}

#banner
{ width: 940px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;}

