/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2014, 10:56:04 PM
    Author     : ehi12_000
*/

*                           {
				font-family: Arial, Verdana, sans-serif;
				color: #665544;
				text-align: center;}
			#nav, #feature, .article, #footer {
				background-color: #efefef;
				margin-top: 20px;
				padding: 10px 0px 5px 0px;}
			#feature, .article {
				height: 100px;}
			li {
				display: inline;
				padding: 5px;}
